@font-face {
  font-family: "Domine-Bold";
  src: url("../fonts/Domine-Bold.ttf");
}

@font-face {
  font-family: "Metropolis-Bold";
  src: url("../fonts/Metropolis-Bold.otf");
}

@font-face {
  font-family: "Metropolis-Regular";
  src: url("../fonts/Metropolis-Regular.otf");
}

@font-face {
  font-family: "Metropolis-SemiBold";
  src: url("../fonts/Metropolis-SemiBold.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 3rem 2rem;
  }
  .name {
    font-family: "Metropolis-Bold";
    letter-spacing: -0.1rem;
    margin-right: 4px;
    font-size: 1.6rem;
    color: white;
  }
  .logo {
    position: absolute;
  }
  .desktop {
    display: none;
  }
  .brown {
    color: brown;
    font-size: 1rem;
    margin-left: 4px;
  }
  .home-content-main {
    padding: 2rem 3rem;
  }
  .section-header h1 {
    font-family: "Domine-Bold";
    line-height: 1.3;
    margin: 0;
    color: black;
    letter-spacing: -0.03rem;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  .section-header h3 {
    font-family: "Metropolis-SemiBold";
    font-size: 0.9rem;
    line-height: 1.3125;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-top: 0;
    color: brown;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .home-content-main h1 {
    font-family: "Domine-Bold";
    line-height: 1.3;
    margin: 0;
    width: 90%;
    letter-spacing: -0.03rem;
    margin-bottom: 4.8rem;
    font-size: 2rem;
    color: white;
  }
  .home-social {
    display: none;
  }
  .action-btn-group a,
  .form-submit {
    text-decoration: none;
    font-family: "Metropolis-Regular";
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    width: 100%;
    color: white;
    border: 2px solid white;
    padding: 0.7rem;
    display: block;
    margin-bottom: 4px;
  }
  .action-btn-group {
    position: absolute;
  }
  .s-about,
  .s-works,
  .s-contacts {
    padding: 3rem 2rem;
    background: #fff;
  }
  .about-desc p {
    font-family: "Metropolis-Regular";
    line-height: 1.4;
    margin-bottom: 1rem;
    color: rgba(85, 85, 85, 0.95);
    font-size: 1rem;
    text-align: left;
  }
  .s-services,
  .s-team {
    background: #f1f1f1;
    padding: 3rem 2rem;
  }
  .services-list {
    padding: 0;
  }
  .service-item {
    display: flex;
  }
  .service-text {
    margin-left: 2rem;
  }
  .member-slide {
    padding: 0px 1rem;
    border-left: 2px solid brown;
    width: 100%;
    display: block;
  }
  .contact-content {
    width: 100%;
    margin: 0 auto;
  }
  .contact-primary {
    padding: 2rem;
    background: #050505;
    opacity: 0.8;
    width: 100%;
  }
  .contact-secondary {
    padding: 2rem;
    background: #050505;
    width: 100%;
  }
  footer {
    background: #050505;
    padding: 3rem 2rem 1rem 2rem;
    position: relative;
  }
  .logo-footer {
    font-family: "Metropolis-Bold";
    letter-spacing: -0.1rem;
    margin-right: 4px;
    font-size: 1.6rem;
    color: white;
  }
  .footer-subscribe {
    margin-top: 2rem;
  }
  .footer-desc p,
  .footer-subscribe p {
    color: rgba(85, 85, 85, 0.95);
    width: 100%;
  }
}

@media only screen and (min-width: 601px) {
  header {
    padding: 5rem;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    position: absolute;
  }
  .mobile {
    display: none;
  }
  .name {
    font-family: "Metropolis-Bold";
    letter-spacing: -0.1rem;
    margin-right: 4px;
    font-size: 2.5rem;
    color: white;
  }
  .brown {
    color: brown;
    font-size: 1.5rem;
    margin-left: 4px;
  }

  .home-content-main {
    padding: 2rem 10rem;
  }
  .section-header h1 {
    font-family: "Domine-Bold";
    line-height: 1.3;
    margin: 0;
    color: black;
    letter-spacing: -0.03rem;
    margin-bottom: 4.8rem;
    font-size: 3.5rem;
  }
  .section-header h3 {
    font-family: "Metropolis-SemiBold";
    font-size: 1.2rem;
    line-height: 1.3125;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-top: 0;
    color: brown;
    margin: 0;
    margin-bottom: 1.2rem;
  }
  .home-content-main h1 {
    font-family: "Domine-Bold";
    line-height: 1.3;
    margin: 0;
    width: 70%;
    color: white;
    letter-spacing: -0.03rem;
    margin-bottom: 4.8rem;
    font-size: 3.5rem;
  }
  .home-social {
    list-style: none;
    position: absolute;
    top: 50%;
    right: 5.4rem;
    transform: translate3d(0, -50%, 0);
  }
  .action-btn-group a,
  .form-submit {
    text-decoration: none;
    font-family: "Metropolis-Regular";
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    width: 250px;
    margin-right: 12px;
    color: white;
    border: 2px solid white;
    padding: 1rem;
  }
  .action-btn-group {
    display: flex;
  }
  .s-about,
  .s-works,
  .s-contacts {
    padding: 7rem;
  }

  .about-desc p {
    font-family: "Metropolis-Regular";
    line-height: 1.75;
    margin-bottom: 3.6rem;
    color: rgba(85, 85, 85, 0.95);
    font-size: 1.5rem;
  }
  .s-services,
  .s-team {
    background: #f1f1f1;
    padding: 7rem;
  }

  .services-list {
    display: flex;
    justify-content: space-between;
  }
  .service-item {
    width: 30%;
  }
  .member-slide {
    padding: 0px 1rem;
    border-left: 2px solid brown;
    width: 50%;
    display: block;
  }

  .contact-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
  }
  .contact-primary {
    padding: 4rem;
    background: #050505;
    opacity: 0.8;
    width: 70%;
  }
  .contact-secondary {
    padding: 4rem;
    background: #050505;
    width: 30%;
  }
  footer {
    background: #050505;
    padding: 5rem 5rem 2rem 5rem;
    position: relative;
  }
  .footer-main {
    display: flex;
  }
  .logo-footer {
    font-family: "Metropolis-Bold";
    letter-spacing: -0.1rem;
    margin-right: 4px;
    font-size: 2.5rem;
    color: white;
  }
  .footer-desc {
    width: 65%;
    margin-right: 5%;
  }
  .footer-subscribe {
    width: 30%;
  }
  .footer-desc p,
  .footer-subscribe p {
    color: rgba(85, 85, 85, 0.95);
    width: 90%;
  }
}

body {
  font-family: "Metropolis-Regular";
}

.home-content {
  position: absolute;
}

.video-wrapper {
  height: 110vh;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.logo a {
  text-decoration: none;
}

.keywords {
  border-bottom: 5px solid brown;
}

.home-social a {
  color: brown;
}
.home-social li {
  margin-bottom: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: #050505;
}

.service-text h3 {
  font-family: "Metropolis-Bold";
  color: brown;
  font-size: 1.5rem;
  margin: 1rem 0rem;
}

.service-text p {
  font-family: "Metropolis-Regular";
  line-height: 1.5;
  color: rgba(85, 85, 85, 0.95);
  margin-bottom: 2rem;
}

.service-icon img {
  object-fit: cover;
  width: 48px;
  height: 48px;
}

.member-slide p {
  font-family: "Metropolis-Regular";
  line-height: 1.5;
  color: rgba(85, 85, 85, 0.95);
  margin-bottom: 2rem;
}

.member-slide img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.member-details p {
  font-family: "Metropolis-SemiBold";
  line-height: 1.5;
  color: black;
  margin: 4px 0px;
}

.member-details {
  margin-left: 2rem;
}

.flex {
  display: flex;
}

.contact-primary h3,
.contact-info h5,
.footer-subscribe h4 {
  font-family: "Metropolis-Regular";
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: brown;
  margin-bottom: 2rem;
}

.contact-primary form input,
.footer-subscribe input,
textarea {
  display: block;
  margin-bottom: 1rem;
  background: transparent;
  outline: none;
  border: none;
  padding: 1rem 0rem;
  border-bottom: 1px gray solid;
  color: #f1f1f1;
  font-family: "Metropolis-Regular";
  width: 90%;
}

.contact-primary form input:focus {
  border-bottom: 2px brown solid;
}

.form-submit {
  width: 90%;
  background: transparent;
  color: #f1f1f1;
  border: 2px #f1f1f1 solid;
}

.contact-social {
  list-style: none;
  display: flex;
}

.contact-info p {
  color: gray;
  font-family: "Metropolis-Regular";
  margin-bottom: 3rem;
  font-size: 0.9rem;
}

.contact-social li a {
  color: brown;
  margin-right: 1rem;
}

.footer-bottom {
  margin-top: 5rem;
}

.footer-subscribe button {
  border: none;
  text-transform: uppercase;
  padding: 0;
  background: transparent;
  color: brown;
  padding: 1rem;
  width: 90%;
  border: 2px brown solid;
  letter-spacing: 0.1rem;
}

.copyright {
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

.go-top a {
  background-color: brown;
  width: 56px;
  height: 56px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

@keyframes up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
